<BsModal
  @onSubmit={{this.submit}}
  @onHidden={{this.onHiddenModal}}
as |Modal|
>
  <Modal.header>
    <h4 class="modal-title">
      <i class="glyphicon glyphicon-alert"></i>
      {{@title}}
    </h4>
  </Modal.header>
  <Modal.body>
    {{yield Modal}}
  </Modal.body>
</BsModal>
