<h1>Form</h1>
<nav class="nav nav-pills">
  <li class="nav-item bg-info">
    <LinkTo
      @route='form'
      @model=1
      class="nav-link text-white"
    >
      Go to form route
    </LinkTo>
  </li>
</nav>
{{outlet}}
